html,
body,
* {
    background-color: rgb(250, 207, 152);
    font-family: 'Mali', cursive;
    text-align: center;
    padding: 15;
    margin: 20;
    box-sizing: border-box;
    font-size: 80%;
    flex: 200px;
    border-radius: 30px;
}

.head {
    font-size: 40px;
    background-color: rgb(255, 243, 205);
    border: 2px solid darkgoldenrod;
    box-shadow: 10px 5px 5px rgb(168, 52, 6);
}

a {
    font-size: 20px;
    padding: 5;
    color: brown;
    background-color: rgb(255, 243, 205);
    transition: background-color 0.5s;
}

a:hover {
    background-color: rgb(244, 196, 74);
}


.parent {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    width: 90vw;
}

.child {
    border: 1px solid rgb(198, 133, 4);
    background-color: beige;
    box-shadow: 10px 5px 5px rgb(168, 52, 6);
    top: ;
}

.about-img {
    width: 40vh;
    height: 40vh;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transition: 1s ease;
    opacity: 0.5;
    transition: 1s ease;
}

.about-img:hover {
    transform: scale(1.1);
    outline: 1rem solid brown;
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    transition: 1s ease;
    opacity: 1;
    transition: 1s ease;
}