html,
head,
body,
* {
    background-color: rgb(250, 207, 152);
    font-family: 'Mali', cursive;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    flex: 200px;
}

.parent {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    width: 90vw;
}

.child {
    border: 1px solid rgb(198, 133, 4);
}

.about-img {
    width: 30vh;
    height: 30vh;
}